body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    transition: background-color 1s ease-in-out;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.card {
    background-color: rgba(255, 255, 255, 0.85); 
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#mensagem {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
